@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@300;700&family=Josefin+Slab&family=Playpen+Sans:wght@100&display=swap');

:root {
    --main-color: #A90009;
    --main-font: "Comfortaa", sans-serif;
}

.section-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 15px;
    background-color: var(--main-color);
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-family: var(--main-font);
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2em;

    color: #fff;
}

.introduction {
    font-family: var(--main-font);
    text-align: center;
    font-size: 1em;
    color: #fff;
}

span {
    display: block;
}

.button-seja-voluntario {
    background-color: #fff;
    border: 1px solid #fff;
    
    padding: 8px;
    width: 25%;
    margin-top: 23px; 
    border-radius: 25px;
    box-shadow: 3px 3px 10px;
}

.button-seja-voluntario > a {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
    color: #000;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
}

.title {
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
}

.container-card {
    background-color: var(--main-color);
    padding: 90px;
    width: 75%;
    margin-top: 55px;
    border-radius: 20px;
}

.card-list {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 30px;
    width: 20%;
    border-radius: 20px;
    text-align: center;
}

.card > img {
    width: 45%;
    border-radius: 100px;
    border: 10px solid #D9D9D9;
    margin-bottom: 8%;
}

.card > h3 {
    font-family: var(--main-font);
    font-weight: bold;
}

.card > p {
    font-family: var(--main-font);
    margin-top: 20px;
}
