*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
   
}
header nav img{
    height: 2rem;
    width: 2rem;
}

header nav ul{
    list-style: none;
}
header{

    background-color: #FFFFFF;


}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 78px;
}

header nav ul{
  display: flex;
  flex-direction: row;
  gap: 5rem;
font-size: 17px ;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}
section{
    background: #A90009;
    height: 326px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section img{
    height: 294px;
    width: 294px;
    
}
div h1, div p{
    padding: 1rem;
    text-align: justify;
}
div{
    width: 800px;
 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    height: 35px;
    width: 186px;
    border-radius: 23px;
    border: none;
    cursor: pointer;

}